*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
  }       
  body {
    font-family: Arial, sans-serif;
    
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   
  }
  
  .form-container {
    max-width: 600px;
    margin: auto;
    background:#1c1c57;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(13, 1, 1, 0.705);
    border-radius: 40px;
  }
  
  .form-container h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    gap: 1px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-row {
    display: flex;
    gap: 10px;
  }
  
  .form-row .form-group {
    flex: 1;
  }
  
  .checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group select,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #360c0c;
    border-radius: 5px;
    background-color: #e7e7ed;
    color: #1a1a3d;
  }
  
  .form-group input[type="file"] {
    padding: 5px;
  }
  
  .button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .button:hover {
    background-color: #30567e;
  }
  @media screen and (max-width: 600px) {
    .form-container {
      padding: 20px;
    }
    
  }
  @media screen and (max-width: 400px) {
    .form-container { 
      padding: 10px;
    }
    
  }
  @media screen and (max-width: 300px) {
    .form-container {
      padding: 5px;
    }
    
  }
  